@import "tailwindcss";

:root {
  --green: #B9FF66;
  --dark: #191A23;
  --light: #F3F3F3;
}

@theme {
  --spacing: 0.0625rem; /* 1px */

  --animate-accordion-up: accordion-up 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --animate-accordion-down: accordion-down 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
}



@theme inline {
  --font-space-grotesk: var(--font-space-grotesk);
  --color-dark: var(--dark);
  --color-light: var(--light); 
  --color-green: var(--green);
}

body {
  font-family: var(--font-space-grotesk);
}
