@import "tailwindcss";

:root {
  --green: #B9FF66;
  --dark: #191A23;
  --light: #F3F3F3;
}

@theme {
  --spacing: 0.0625rem; /* 1px */
}

@theme inline {
  --font-space-grotesk: var(--font-space-grotesk);
  --color-dark: var(--dark);
  --color-light: var(--light); 
  --color-green: var(--green);
}

body {
  font-family: var(--font-space-grotesk);
}
